.product-type {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

.product-type:not(:last-child) {
    padding-bottom: 25px;
}

.product-type#pants img {
    padding-bottom: 10px;
}
